* {
  margin: 0%;
  padding: 0%; }

/*Fuentes*/
@font-face {
  font-family: 'Lemon/Milk Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Lemon/Milk Regular"), url("fonts/LemonMilk.woff") format("woff"); }

@font-face {
  font-family: 'Lemon/Milk Regular italic';
  font-style: normal;
  font-weight: normal;
  src: local("Lemon/Milk Regular italic"), url("fonts/LemonMilkitalic.woff") format("woff"); }

@font-face {
  font-family: 'Lemon/Milk light italic';
  font-style: normal;
  font-weight: normal;
  src: local("Lemon/Milk light italic"), url("fonts/LemonMilklightitalic.woff") format("woff"); }

@font-face {
  font-family: 'Lemon/Milk Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Lemon/Milk Bold"), url("fonts/LemonMilkbold.woff") format("woff"); }

@font-face {
  font-family: 'Lemon/Milk Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Lemon/Milk Bold"), url("fonts/LemonMilkbolditalic.woff") format("woff"); }

@font-face {
  font-family: 'Lemon/Milk light Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Lemon/Milk light Regular"), url("fonts/LemonMilklight.woff") format("woff"); }

/*Colores*/
/*Barra nav*/
.d-flex {
  background-color: transparent;
  position: absolute; }

.btn-secondary {
  background-color: transparent;
  border: 0px; }

.btn-secondary:hover {
  background-color: transparent;
  border: 0px; }

.btn-secondary:focus {
  background-color: transparent;
  border: 0px;
  box-shadow: none; }

.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: none; }

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: transparent;
  border-color: snow;
  border: 0px; }

.btn:active {
  background-color: transparent;
  border: 0px; }

.dropdown-menu {
  width: 100%;
  border: 0;
  margin: 0%;
  background-color: snow; }

.dropdown-item {
  font-family: 'Lemon/Milk light Regular';
  font-weight: normal;
  font-size: 12px;
  color: #333; }

.header {
  width: 100%;
  display: flex;
  position: absolute;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  z-index: 100; }
  .header .header__logo {
    width: 8%;
    height: 8%;
    margin-left: 10%; }
  .header .header__nav {
    text-align: center;
    width: 60%; }
    .header .header__nav .header__link {
      color: snow;
      text-decoration: none;
      margin: 1%;
      padding: 1% 3%;
      font-family: 'Poppins', sans-serif;
      font-weight: 600; }
    .header .header__nav .header__link:hover {
      border-bottom: 2px solid snow; }
    .header .header__nav .header__link--negro {
      color: #333; }
    .header .header__nav .header__link--negro:hover {
      border-bottom: 2px solid #333; }

/*Footer*/
.footer {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 1%;
  background-color: snow; }
  .footer .footer__cont {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px; }
    .footer .footer__cont .footer__link {
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      font-size: 14px;
      text-decoration: none;
      color: #333;
      padding: 5px 0; }
    .footer .footer__cont .footer__link:hover {
      border-bottom: 1px solid #333; }

/*Index*/
.cuerpoIndex {
  background-image: url("imagenes/fondoi.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 15% 0% 10% 0%; }
  .cuerpoIndex .cuerpoIndex__centro {
    width: 50%;
    margin: 0% 25% 0% 25%;
    color: snow;
    padding: 5% 0%;
    text-decoration: none;
    text-align: center; }
    .cuerpoIndex .cuerpoIndex__centro .cuerpoIndex__titulo {
      font-family: 'Montserrat', sans-serif;
      font-weight: 900;
      font-size: 42px;
      text-transform: uppercase;
      padding-bottom: 2%;
      margin: 0% 20% 5% 20%;
      border-bottom: 1px solid snow; }
    .cuerpoIndex .cuerpoIndex__centro .cuerpoIndex__sub {
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 15px;
      text-transform: uppercase; }
    .cuerpoIndex .cuerpoIndex__centro .verProductos {
      background-color: #a984ba;
      text-align: center;
      padding: 3%;
      margin: 8% 35% 0% 35%;
      border-radius: 800px; }
      .cuerpoIndex .cuerpoIndex__centro .verProductos .verProductos__texto {
        color: snow;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase; }
    .cuerpoIndex .cuerpoIndex__centro .verProductos:hover {
      background-color: #815c97; }

/*Productos*/
.cuerpoP {
  padding: 15% 0% 10% 0%;
  font-size: 16px;
  background-image: url("imagenes/fondoP.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .cuerpoP .cuerpoP__titulo {
    padding-bottom: 0.9375rem;
    margin: 0% 40% 5% 10%;
    border-bottom: 0.125rem solid #333;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 2.625em;
    text-transform: uppercase; }
  .cuerpoP .cuerpoP__centro {
    width: 90%;
    margin: 0% 5% 0% 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: transparent;
    font-size: 16px; }
    .cuerpoP .cuerpoP__centro .cuerpoP__contenedor {
      background-color: white;
      width: 16.875em;
      margin: 0em 0.125em 0.9375rem 0.125em;
      padding: 0.625em;
      display: grid;
      grid-template-areas: "fotoP" "textoP" "linkP"; }
    .cuerpoP .cuerpoP__centro .cuerpoP__contenedor:hover {
      transform: scale(1.05);
      transition: 30ms;
      background-color: snow;
      border: 0.0625em solid #333 !important; }
    .cuerpoP .cuerpoP__centro .fotoP {
      grid-area: fotoP;
      width: 15.625em;
      height: 15.625em;
      padding-bottom: 0.625rem;
      margin-bottom: 1rem;
      border-bottom: 0.125rem solid #333; }
    .cuerpoP .cuerpoP__centro .textoP {
      grid-area: textoP;
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      font-size: 0.875em;
      color: #757575;
      width: 100%;
      margin-bottom: 0.625em; }
    .cuerpoP .cuerpoP__centro .linkP {
      grid-area: linkP;
      font-size: 1em;
      background-color: #a984ba;
      border-radius: 0.0625em;
      font-family: 'Lemon/Milk Regular';
      font-weight: normal;
      font-size: 0.625em;
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
      color: #f5f5f5;
      padding: 1.2em;
      margin-right: 9.375em; }
    .cuerpoP .cuerpoP__centro .linkP:hover {
      background-color: #815c97;
      transition: 1s; }

/*Quienes Somos*/
.cuerpoQS {
  padding: 15% 0% 10% 0%;
  background-image: url("imagenes/fondoQ.jpg");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat; }
  .cuerpoQS .cuerpoQS__contenedor {
    width: 50%;
    margin: 0% 5% 0% 40%; }
  .cuerpoQS .cuerpoQS__titulo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    color: #333;
    margin: 0% 0% 5% 3%;
    border-bottom: 3px solid #333;
    padding-bottom: 10px;
    width: 250px; }
  .cuerpoQS .cuerpoQS__parrafo {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #494949;
    margin: 0% 0% 2% 5%;
    text-align: left; }

/*FAQ*/
#cuerpoPaginaFAQ {
  background-image: url("imagenes/fondoQ.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 14% 0% 10% 0%; }
  #cuerpoPaginaFAQ p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin: 0%; }
  #cuerpoPaginaFAQ .parrafo__faq--size {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-transform: none; }
  #cuerpoPaginaFAQ #accordionExample {
    width: 50%;
    margin: 0% 25% 0% 25%;
    border: none; }
  #cuerpoPaginaFAQ .accordion-item:first-of-type {
    border-radius: 0%; }
  #cuerpoPaginaFAQ .accordion-item:last-of-type {
    border-radius: 0%; }
  #cuerpoPaginaFAQ .accordion-button:not(.collapsed) {
    color: #333;
    background-color: #a984ba3b; }
  #cuerpoPaginaFAQ .accordion-button:not(.collapsed)::after {
    background-image: none;
    transform: rotate(180deg); }
  #cuerpoPaginaFAQ .accordion-button:focus {
    border-color: #a984ba;
    box-shadow: 0 0 0 0.25rem  #a984bab9; }

/*Contacto*/
.cuerpoContacto {
  background-image: url("imagenes/fondoP.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 10% 0% 10% 0%; }
  .cuerpoContacto .cuerpoContacto__form {
    width: 30%;
    margin-left: 15%; }
  .cuerpoContacto .cuerpoContacto__titulo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #333;
    margin: 15px 0;
    padding: 0px 0px 10px 0px;
    width: 175px;
    border-bottom: 1px solid #333; }
  .cuerpoContacto .cuerpoContacto__parrafo {
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #616161;
    margin: 5px 0 10px 0; }
  .cuerpoContacto .cuerpoContacto__persona {
    margin: 50px 0px 10px 0px; }
  .cuerpoContacto .cuerpoContacto__datos {
    font-family: 'Noto Sans', sans-serif;
    width: 180px;
    height: 25px;
    padding: 0px 0px 0px 10px;
    background-color: snow;
    border: none; }
  .cuerpoContacto .cuerpoContacto__mensaje {
    font-family: 'Noto Sans', sans-serif;
    width: 375px;
    padding: 5px 0px 0px 10px;
    background-color: snow;
    border: none; }
  .cuerpoContacto .cuerpoContacto__anim:hover {
    background-color: #f3d9ff; }
  .cuerpoContacto .cuerpoContacto__enviar {
    font-family: 'Noto Sans', sans-serif;
    width: 385px;
    height: 30px;
    margin: 3px 0px 0px 0px;
    padding: 0px 0px 0px 10px;
    background-color: #815c97;
    border: none; }
  .cuerpoContacto .cuerpoContacto__enviar:hover {
    background-color: #a984ba; }

/*MQ*/
@media only screen and (min-width: 320px) {
  body {
    width: 100%; }
  .header {
    display: none; }
  .footer {
    flex-direction: column-reverse; }
    .footer .footer__cont {
      font-size: 8px;
      margin: 5px 0; }
      .footer .footer__cont .footer__link {
        font-size: 8px;
        padding: 0; }
  .cuerpoIndex {
    padding: 65% 0% 65% 0%; }
    .cuerpoIndex .cuerpoIndex__centro {
      width: 100%;
      margin: 0% 0% 0% 0%; }
      .cuerpoIndex .cuerpoIndex__centro .cuerpoIndex__titulo {
        margin: 0% 10% 5% 10%; }
      .cuerpoIndex .cuerpoIndex__centro .verProductos {
        background-color: #a984ba;
        text-align: center;
        padding: 3%;
        margin: 10% 15% 5% 15%;
        border-radius: 800px; } }

@media only screen and (min-width: 576px) {
  .header {
    display: flex;
    flex-direction: column; }
    .header .header__logo {
      width: 5%;
      height: 5%;
      margin-right: 25%; }
    .header .header__nav {
      text-align: center;
      width: 100%; }
      .header .header__nav .header__link {
        margin: 0% 1% 0% 1%;
        padding: 1% 2%; }
      .header .header__nav .header__link--negro {
        color: #333; }
  .footer {
    flex-direction: column-reverse; }
    .footer .footer__cont {
      font-size: 12px;
      margin: 5px 0; }
      .footer .footer__cont .footer__link {
        font-size: 12px;
        padding: 0; }
  .cuerpoIndex {
    padding: 45% 0% 30% 0%; }
    .cuerpoIndex .cuerpoIndex__centro {
      width: 100%;
      margin: 0% 0% 0% 0%; }
      .cuerpoIndex .cuerpoIndex__centro .cuerpoIndex__titulo {
        margin: 0% 20% 5% 20%; }
      .cuerpoIndex .cuerpoIndex__centro .verProductos {
        padding: 3%;
        margin: 8% 35% 0% 35%;
        border-radius: 800px; } }

@media only screen and (min-width: 768px) {
  .header {
    flex-direction: column; }
    .header .header__logo {
      width: 5%;
      height: 5%;
      margin-right: 17%; }
    .header .header__nav {
      text-align: center;
      width: 100%; }
      .header .header__nav .header__link {
        margin: 0% 1% 0% 1%;
        padding: 1% 3%; }
      .header .header__nav .header__link--negro {
        color: #333; }
  .footer {
    flex-direction: column-reverse; }
    .footer .footer__cont {
      font-size: 14px;
      margin: 5px 0; }
      .footer .footer__cont .footer__link {
        font-size: 14px;
        padding: 0; }
  .cuerpoIndex {
    padding: 20% 0% 10% 0%; }
    .cuerpoIndex .cuerpoIndex__centro {
      width: 100%;
      margin: 0% 0% 0% 0%; } }

@media only screen and (min-width: 992px) {
  .header {
    width: 100%;
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    .header .header__logo {
      width: 8%;
      height: 8%;
      margin-left: 10%;
      margin-right: 0%; }
    .header .header__nav {
      text-align: center;
      width: 60%; }
      .header .header__nav .header__link {
        margin: 1%;
        padding: 1% 3%;
        font-size: 90%; }
      .header .header__nav .header__link--negro {
        color: #333; }
  .footer {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 1%; }
    .footer .footer__cont {
      font-size: 14px; }
      .footer .footer__cont .footer__link {
        font-size: 14px;
        padding: 5px 0; }
  .cuerpoIndex {
    padding: 15% 0% 10% 0%; }
    .cuerpoIndex .cuerpoIndex__centro {
      width: 50%;
      margin: 0% 25% 0% 25%; } }

@media only screen and (min-width: 320px) {
  .cuerpoP {
    padding: 25% 0% 10% 0%;
    font-size: 8px; }
    .cuerpoP .cuerpoP__titulo {
      margin: 0% 10% 5% 5%; }
    .cuerpoP .cuerpoP__centro {
      font-size: 9px;
      width: 100%;
      margin: 0% 0% 0% 0%; } }

@media only screen and (min-width: 576px) {
  .cuerpoP {
    padding: 30% 0% 10% 0%;
    font-size: 14px; }
    .cuerpoP .cuerpoP__titulo {
      margin: 0% 10% 5% 5%; }
    .cuerpoP .cuerpoP__centro {
      font-size: 14px; } }

@media only screen and (min-width: 690px) {
  .cuerpoP {
    padding: 25% 0% 10% 0%; } }

@media only screen and (min-width: 768px) {
  .cuerpoP {
    padding: 20% 0% 10% 0%; }
    .cuerpoP .cuerpoP__titulo {
      font-size: 2.25em; } }

@media only screen and (min-width: 992px) {
  .cuerpoP {
    padding: 11% 0% 10% 0%;
    font-size: 16px; }
    .cuerpoP .cuerpoP__titulo {
      margin: 0% 40% 5% 10%; }
    .cuerpoP .cuerpoP__centro {
      font-size: 16px; } }

@media only screen and (min-width: 320px) {
  .cuerpoQS {
    padding: 45% 0% 20% 0%;
    background-position: right; }
    .cuerpoQS .cuerpoQS__contenedor {
      width: 100%;
      margin: 0% 5% 0% 5%; }
    .cuerpoQS .cuerpoQS__parrafo {
      font-size: 16px;
      margin: 0% 5% 15% 10%;
      width: 70%; } }

@media only screen and (min-width: 576px) {
  .cuerpoQS {
    padding: 35% 0% 10% 0%;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat; }
    .cuerpoQS .cuerpoQS__contenedor {
      width: 100%;
      margin: 0% 5% 0% 5%; }
    .cuerpoQS .cuerpoQS__parrafo {
      margin: 0% 5% 5% 10%;
      width: 70%; } }

@media only screen and (min-width: 768px) {
  .cuerpoQS {
    padding: 25% 0% 10% 0%; } }

@media only screen and (min-width: 992px) {
  .cuerpoQS {
    padding: 20% 0% 10% 0%; } }

@media only screen and (min-width: 1200px) {
  .cuerpoQS {
    padding: 10% 0% 10% 0%;
    background-position: left; }
    .cuerpoQS .cuerpoQS__contenedor {
      width: 60%;
      margin: 0% 10% 0% 40%; }
    .cuerpoQS .cuerpoQS__titulo {
      font-size: 22px;
      margin: 0% 0% 5% 3%;
      width: 250px; }
    .cuerpoQS .cuerpoQS__parrafo {
      margin: 0% 0% 2% 5%; } }

@media only screen and (min-width: 320px) {
  #cuerpoPaginaFAQ {
    background-position: center;
    padding: 40% 0% 50% 0%; }
    #cuerpoPaginaFAQ p {
      font-size: 12px;
      margin: 0%;
      font-weight: 500; }
    #cuerpoPaginaFAQ .parrafo__faq--size {
      font-size: 8px;
      text-transform: none; }
    #cuerpoPaginaFAQ #accordionExample {
      width: 80%;
      margin: 0% 10% 0% 10%;
      border: none; } }

@media only screen and (min-width: 576px) {
  #cuerpoPaginaFAQ {
    background-position: center;
    padding: 35% 0% 10% 0%; }
    #cuerpoPaginaFAQ p {
      font-size: 14px;
      margin: 0%; }
    #cuerpoPaginaFAQ .parrafo__faq--size {
      font-size: 10px;
      text-transform: none; }
    #cuerpoPaginaFAQ #accordionExample {
      width: 80%;
      margin: 0% 10% 0% 10%;
      border: none; } }

@media only screen and (min-width: 768px) {
  #cuerpoPaginaFAQ {
    background-position: center;
    padding: 25% 0% 10% 0%; }
    #cuerpoPaginaFAQ p {
      font-size: 16px;
      margin: 0%; }
    #cuerpoPaginaFAQ .parrafo__faq--size {
      font-size: 12px;
      text-transform: none; }
    #cuerpoPaginaFAQ #accordionExample {
      width: 80%;
      margin: 0% 10% 0% 10%;
      border: none; } }

@media only screen and (min-width: 992px) {
  #cuerpoPaginaFAQ {
    background-position: center;
    padding: 15% 0% 10% 0%; }
    #cuerpoPaginaFAQ p {
      font-size: 14px;
      margin: 0%;
      font-weight: 500; }
    #cuerpoPaginaFAQ .parrafo__faq--size {
      font-size: 14px;
      text-transform: none; }
    #cuerpoPaginaFAQ #accordionExample {
      width: 70%;
      margin: 0% 15% 0% 15%;
      border: none; } }

@media only screen and (min-width: 320px) {
  .cuerpoContacto {
    padding: 25% 0% 15% 0%; }
    .cuerpoContacto .cuerpoContacto__form {
      width: 80%;
      margin-left: 10%;
      margin-right: 10%; }
    .cuerpoContacto .cuerpoContacto__datos {
      margin: 1% 0%;
      width: 245px; }
    .cuerpoContacto .cuerpoContacto__mensaje {
      width: 245px; }
    .cuerpoContacto .cuerpoContacto__enviar {
      width: 245px; } }

@media only screen and (min-width: 576px) {
  .cuerpoContacto {
    padding: 35% 0% 10% 0%; }
    .cuerpoContacto .cuerpoContacto__form {
      width: 80%;
      margin-left: 10%;
      margin-right: 10%; }
    .cuerpoContacto .cuerpoContacto__datos {
      margin: 1% 0%;
      width: 445px; }
    .cuerpoContacto .cuerpoContacto__mensaje {
      width: 445px; }
    .cuerpoContacto .cuerpoContacto__enviar {
      width: 455px; } }

@media only screen and (min-width: 768px) {
  .cuerpoContacto {
    padding: 25% 0% 10% 0%; }
    .cuerpoContacto .cuerpoContacto__form {
      width: 80%;
      margin-left: 10%;
      margin-right: 10%; }
    .cuerpoContacto .cuerpoContacto__datos {
      margin: 1% 0%;
      width: 545px; }
    .cuerpoContacto .cuerpoContacto__mensaje {
      width: 545px; }
    .cuerpoContacto .cuerpoContacto__enviar {
      width: 555px; } }

@media only screen and (min-width: 992px) {
  .cuerpoContacto {
    padding: 10% 0% 10% 0%; }
    .cuerpoContacto .cuerpoContacto__form {
      width: 40%;
      margin-left: 15%;
      margin-right: auto; }
    .cuerpoContacto .cuerpoContacto__datos {
      width: 190px;
      height: 30px;
      padding: 0px 0px 0px 10px;
      margin: 0; }
    .cuerpoContacto .cuerpoContacto__mensaje {
      width: 385px;
      padding: 5px 0px 0px 10px; }
    .cuerpoContacto .cuerpoContacto__enviar {
      width: 385px;
      margin: 3px 0px 0px 0px;
      padding: 0px 0px 0px 10px; } }

@media only screen and (min-width: 1200px) {
  .cuerpoContacto {
    padding: 10% 0% 10% 0%; }
    .cuerpoContacto .cuerpoContacto__form {
      width: 30%;
      margin-left: 15%;
      margin-right: auto; } }
