.footer{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content:space-around;
    align-items: center;
    padding: 1%;
    background-color:snow;

    .footer__cont{

        font-family: 'Montserrat', sans-serif;
        font-weight:600;
        font-size: 14px;

        .footer__link{
            font-family: 'Montserrat', sans-serif;
            font-weight:600;
            font-size: 14px;
            text-decoration: none;
            color: #333;
            padding: 5px 0;
        }

        .footer__link:hover{
            border-bottom: 1px solid #333;
        }
    }
}