@media only screen and (min-width:320px){
    #cuerpoPaginaFAQ{
        background-image: url("imagenes/fondoQ.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position:center;
        padding: 25% 0% 10% 0%;
    
        p{
            font-family: 'Lato', sans-serif;
            font-size:12px;
            margin: 0%;
        }
    
        .parrafo__faq--size{
            font-family: 'Lato', sans-serif;
            font-weight:normal;
            font-size:8px;
            text-transform: none;
        }
    
        #accordionExample{
            width: 80%;
            margin: 0% 10% 0% 10%;
            border: none;
        }
    
    }
}

@media only screen and (min-width:576px){
    #cuerpoPaginaFAQ{
        background-image: url("imagenes/fondoQ.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position:center;
        padding: 35% 0% 10% 0%;
    
        p{
            font-family: 'Lato', sans-serif;
            font-size:14px;
            margin: 0%;
        }
    
        .parrafo__faq--size{
            font-family: 'Lato', sans-serif;
            font-weight:normal;
            font-size:10px;
            text-transform: none;
        }
    
        #accordionExample{
            width: 80%;
            margin: 0% 10% 0% 10%;
            border: none;
        }
    
    }


}

@media only screen and (min-width:768px){
    #cuerpoPaginaFAQ{
        background-image: url("imagenes/fondoQ.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position:center;
        padding: 25% 0% 10% 0%;
    
        p{
            font-family: 'Lato', sans-serif;
            font-size:16px;
            margin: 0%;
        }
    
        .parrafo__faq--size{
            font-family: 'Lato', sans-serif;
            font-weight:normal;
            font-size:12px;
            text-transform: none;
        }
    
        #accordionExample{
            width: 80%;
            margin: 0% 10% 0% 10%;
            border: none;
        }
    
    }
}

@media only screen and (min-width:992px){
    #cuerpoPaginaFAQ{
        background-image: url("imagenes/fondoQ.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position:center;
        padding: 15% 0% 10% 0%;
    
        p{
            font-family: 'Lato', sans-serif;
            font-size:18px;
            margin: 0%;
        }
    
        .parrafo__faq--size{
            font-family: 'Lato', sans-serif;
            font-weight:normal;
            font-size:14px;
            text-transform: none;
        }
    
        #accordionExample{
            width: 80%;
            margin: 0% 10% 0% 10%;
            border: none;
        }
    
    }
}