@media only screen and (min-width:320px){
    .cuerpoProductos__centro{
        width: 100%;
        /*Grids*/
        display: flex;
        flex-direction: column;
        
        justify-content: space-evenly;
        grid-row-gap: 15px;
        grid-column-gap:0px ;
        justify-items: center;
        align-items: center;
        padding: 25% 0% 15% 0%;
        margin: 0%;

        .cuerpoProductos__border{

            width: 50%;
            height: 100%;
            padding: 15px 15px 25px 15px;
            background-color: #f5f5f5;
        
            .cuerpoProductos__des{
                font-size:6px;
                margin-top: 10%;
                margin-bottom: 5%;
                width: 100%;
            }
    
            .cuerpoProductos__foto{
                width:125px;
                height:125px;
                padding-bottom:5%;
                border-bottom: 1px solid #333;
            }
        }

        .cuerpoProdcutos__titulo{
            width: 100%;
            padding-bottom: 2%;
            margin:20px 0px;
            border-bottom: 2px solid #333;
            font-size:22px;
            text-transform: uppercase;
        }
    }
}

@media only screen and (min-width:450px){
    .cuerpoProductos__centro{
        width: 100%;
        /*Grids*/
        display: flex;
        flex-direction: column;
        
        justify-content: space-evenly;
        grid-row-gap: 15px;
        grid-column-gap:0px ;
        justify-items: center;
        align-items: center;
        padding: 15% 0% 15% 0%;
        margin: 0%;

        .cuerpoProductos__border{

            width: 50%;
            height: 100%;
            padding: 15px 15px 25px 15px;
            background-color: #f5f5f5;
        
            .cuerpoProductos__des{
                font-size:6px;
                margin-top: 10%;
                margin-bottom: 5%;
                width: 100%;
            }
    
            .cuerpoProductos__foto{
                width:200px;
                height:200px;
                padding-bottom:5%;
                border-bottom: 1px solid #333;
            }
        }

        .cuerpoProdcutos__titulo{
            width: 100%;
            padding-bottom: 2%;
            margin:20px 0px;
            border-bottom: 2px solid #333;
            font-size:22px;
            text-transform: uppercase;
        }
    }
}


@media only screen and (min-width:576px){
    .cuerpoProductos__centro{
        width: 95%;
        margin: 0% 2.5% 0% 2.5%;
        /*Grids*/
        display: grid;
        grid-template-areas:
            "h1 h1"
            "p1 p2"
            "p3 p4"
            "p5 p6"
            "p7 p8"
            "p9 p10"
            "p11 p12";
        
        justify-content: space-evenly;
        grid-row-gap: 15px;
        grid-column-gap:0px ;
        justify-items: center;
        align-items: center;
        padding: 40% 0% 15% 0%;

        .cuerpoProductos__border{

            width: 80%;
            height: 100%;
            padding: 15px 15px 25px 15px;
            background-color: #f5f5f5;
        
            .cuerpoProductos__des{
                font-size:10px;
                margin-top: 10%;
                margin-bottom: 5%;
                width: 100%;
            }
    
            .cuerpoProductos__foto{
                width:188px;
                height:188px;
                padding-bottom:5%;
                border-bottom: 1px solid #333;
            }
        }

        .cuerpoProdcutos__titulo{
            width: 175%;
            padding-bottom: 2%;
            margin:20px 0px;
            border-bottom: 2px solid #333;
            font-size:36px;
            text-transform: uppercase;
        }
    }
}

@media only screen and (min-width:768px){
    .cuerpoProductos__centro{
        width: 95%;
        margin: 0% 2.5% 0% 2.5%;
        /*Grids*/
        display: grid;
        grid-template-areas:
            "h1 h1 h1"
            "p1 p2 p3"
            "p4 p5 p6"
            "p7 p8 p9"
            "p10 p11 p12";
        
        justify-content: space-evenly;
        grid-row-gap: 15px;
        grid-column-gap:0px ;
        justify-items: center;
        align-items: center;
        padding: 25% 0% 15% 0%;

        .cuerpoProductos__border{

            width: 80%;
            height: 100%;
            padding: 15px 15px 25px 15px;
            background-color: #f5f5f5;
        
            .cuerpoProductos__des{
                font-size:10px;
                margin-top: 10%;
                margin-bottom: 5%;
                width: 100%;
            }
    
            .cuerpoProductos__foto{
                width:150px;
                height:150px;
                padding-bottom:5%;
                border-bottom: 1px solid #333;
            }
        }

        .cuerpoProdcutos__titulo{
            width: 175%;
            padding-bottom: 2%;
            margin:20px 0px;
            border-bottom: 2px solid #333;
            font-size:36px;
            text-transform: uppercase;
        }
    }
}

@media only screen and (min-width:992px){
    .cuerpoProductos__centro{
        width: 95%;
        margin: 0% 2.5% 0% 2.5%;
        /*Grids*/
        display: grid;
        grid-template-areas:
            "h1 h1 h1"
            "p1 p2 p3"
            "p4 p5 p6"
            "p7 p8 p9"
            "p10 p11 p12";
        
        justify-content: space-evenly;
        grid-row-gap: 15px;
        grid-column-gap:0px ;
        justify-items: center;
        align-items: center;
        padding: 15% 0% 15% 0%;

        .cuerpoProductos__border{

            width: 80%;
            height: 100%;
            padding: 15px 15px 25px 15px;
            background-color: #f5f5f5;
        
            .cuerpoProductos__des{
                font-size:10px;
                margin-top: 10%;
                margin-bottom: 5%;
                width: 100%;
            }
    
            .cuerpoProductos__foto{
                width:225px;
                height:225px;
                padding-bottom:5%;
                border-bottom: 1px solid #333;
            }
        }

        .cuerpoProdcutos__titulo{
            width: 175%;
            padding-bottom: 2%;
            margin:20px 0px;
            border-bottom: 2px solid #333;
            font-size:36px;
            text-transform: uppercase;
        }
    }
}

@media only screen and (min-width:1200px){
    .cuerpoProductos__centro{
        width: 86%;
        margin: 0% 7% 0% 7%;
        /*Grids*/
        display: grid;
        grid-template-areas: 
            "h1 h1 h1 h1"
            "p1 p2 p3 p4"
            "p5 p6 p7 p8"
            "p9 p10 p11 p12";
        
        justify-content: space-evenly;
        grid-row-gap: 50px;
        grid-column-gap:2px ;
        justify-items: center;
        align-items: center;
        /*Fondo*/
        background-color: transparent;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 15% 0% 15% 0%;
    
        .cuerpoProductos__border:hover{
            transform: scale(1.05);
            transition: 30ms;
            background-color: snow;
            border: 1px solid #333!important;
    
        }
    
        .cuerpoProductos__border{ 
            width: 100%;
            padding: 15px 15px 25px 15px;
    
            .cuerpoProductos__des{
                font-size:12px;
                color: #757575;
                margin-top: 10%;
                margin-bottom: 5%;
                width: 100%;
            }
    
            .cuerpoProductos__foto{
                width:250px;
                height: 250px;
                padding-bottom:5%;
                border-bottom: 1px solid #333;
            }
    
        }
    
        .cuerpoProdcutos__titulo{
            grid-area: h1;
            width: 200%;
            padding-bottom: 2%;
            margin: 0% 50% 0% 0%;
            border-bottom: 2px solid #333;
            font-family:'Lemon/Milk Regular italic';
            font-weight:normal;
            font-size:42px;
            text-transform: uppercase;
        }
    }   
}