@media only screen and (min-width:576px){
    .cuerpoP{
        padding: 30% 0% 10% 0%;
    }
}

@media only screen and (min-width:690px){
    .cuerpoP{
        padding: 25% 0% 10% 0%;
    }
}

@media only screen and (min-width:768px){
    .cuerpoP{
        padding: 20% 0% 10% 0%;
    }
}

@media only screen and (min-width:920px){
    .cuerpoP{
        padding: 18% 0% 10% 0%;
    }
}