@media only screen and (min-width:320px){
    .cuerpoQS{
        padding: 25% 0% 10% 0%;
        background-position: right;
        background-size: cover;
        background-repeat: no-repeat;
        
        .cuerpoQS__contenedor{
            width: 100%;
            margin: 0% 5% 0% 5%;
        }

        .cuerpoQS__parrafo{
            font-family: 'Signika', sans-serif;
            font-weight: normal;
            font-size: 16px;
            color: #333;
            margin:0% 5% 15% 10%;
            text-align: justify;
            width: 70%;
        }
    }
}

@media only screen and (min-width:576px){
    .cuerpoQS{
        padding: 35% 0% 10% 0%;
        background-position: right;
        background-size: cover;
        background-repeat: no-repeat;
        
        .cuerpoQS__contenedor{
            width: 100%;
            margin: 0% 5% 0% 5%;
        }

        .cuerpoQS__parrafo{
            font-family: 'Signika', sans-serif;
            font-weight: normal;
            font-size: 16px;
            color: #333;
            margin:0% 5% 5% 10%;
            text-align: justify;
            width: 70%;
        }
    }
}

@media only screen and (min-width:768px){
    .cuerpoQS{
        padding: 25% 0% 10% 0%;
    }
}

@media only screen and (min-width:992px){
    .cuerpoQS{
        padding: 20% 0% 10% 0%;
    }
}

@media only screen and (min-width:1200px){
    .cuerpoQS{
        padding: 10% 0% 10% 0%;
        background-image: url("imagenes/fondoQ.jpg");
        background-position: left;
        background-size: cover;
        background-repeat: no-repeat;
    
        .cuerpoQS__contenedor{
            width: 60%;
            margin: 0% 10% 0% 40%;
        }
    
        .cuerpoQS__titulo{
            font-family: 'Lemon/Milk Regular';
            font-weight: normal;
            font-size: 22px;
            text-transform: uppercase;
            color: #333;
            margin:0% 0% 5% 3%;
            border-bottom: 3px solid #333 ;
            padding-bottom: 10px;
            width: 250px;
        }
    
        .cuerpoQS__parrafo{
            font-family: 'Signika', sans-serif;
            font-weight: normal;
            font-size: 16px;
            color: #333;
            margin:0% 0% 2% 5%;
            text-align: justify;
        }
    }
}
