.header{
    width: 100%;
    display: flex;
    position: absolute;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-around;
    align-items: center;
    background-color:transparent;
    z-index: 100;

    .header__logo{
        width: 8%;
        height: 8%;
        margin-left:10%;
    }

    .header__nav{
        text-align: center;
        width:60%;

        .header__link{
            color: snow;
            text-decoration: none;
            margin: 1%;
            padding: 1% 3%;                
            font-family:'Lemon/Milk Regular';
            font-weight:normal;
            font-size:85%;
            text-transform: uppercase;
        }

        .header__link:hover{
            border-bottom: 2px solid snow;
        }

        .header__link--negro{
            color: #333;
        }        
        .header__link--negro:hover{
            border-bottom: 2px solid #333;
        }

    }

}

