.cuerpoP{
    padding: 15% 0% 10% 0%;
    font-size: 16px;
    background-image: url("imagenes/fondoP.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .cuerpoP__titulo{
        padding-bottom: 0.9375rem;
        margin: 0% 40% 5% 10%;
        border-bottom: 0.125rem solid #333;
        font-family: 'Montserrat', sans-serif;
        font-weight:900;
        font-size:2.625em;
        text-transform: uppercase;
    }

    .cuerpoP__centro{
        width: 90%;
        margin: 0% 5% 0% 5%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        background-color: transparent;
        font-size: 16px;
    
        .cuerpoP__contenedor{
            background-color: white;
            width: 16.875em; 
            margin:0em 0.125em 0.9375rem 0.125em;
            padding: 0.625em;
            display: grid;
            grid-template-areas:"fotoP""textoP""linkP";
        }

        .cuerpoP__contenedor:hover{
            transform: scale(1.05);
            transition: 30ms;
            background-color: snow;
            border: 0.0625em solid #333!important;
        }

        .fotoP{
            grid-area: fotoP;
            width: 15.625em;
            height: 15.625em;
            padding-bottom: 0.625rem;
            margin-bottom: 1rem;
            border-bottom: 0.125rem solid #333;
        }

        .textoP{
            grid-area: textoP;
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            font-size:0.875em;
            color: #757575;
            width: 100%;
            margin-bottom: 0.625em;
        }
        
        .linkP{
            grid-area: linkP;
            font-size:1em;

            background-color:$fondo-boton;
            border-radius:0.0625em;
            font-family:'Lemon/Milk Regular';
            font-weight:normal;
            font-size: 0.625em;
            text-transform: uppercase;
            text-decoration: none;
            text-align: center;
            color: #f5f5f5;
            padding:1.2em;
            margin-right:9.375em;
        }

        .linkP:hover{
            background-color:$fondo-boton2;
            transition: 1s;
        }
    }
}