.cuerpoQS{
    padding: 15% 0% 10% 0%;
    background-image: url("imagenes/fondoQ.jpg");
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;

    .cuerpoQS__contenedor{
        width: 50%;
        margin: 0% 5% 0% 40%;
    }

    .cuerpoQS__titulo{
        font-family: 'Montserrat', sans-serif;
        font-weight:700;
        font-size: 22px;
        text-transform: uppercase;
        color: #333;
        margin:0% 0% 5% 3%;
        border-bottom: 3px solid #333 ;
        padding-bottom: 10px;
        width: 250px;
    }

    .cuerpoQS__parrafo{
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: rgb(73, 73, 73);
        margin:0% 0% 2% 5%;
        text-align: left;
    }


}